<!--FOOTER DESCRIPTION -->
<section id="contact" name="contact"></section>
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACT</h5>
        </div>
        <div class="col-lg-6">
          <p>
            <t>Email</t>
            <br>
            <a href="mailto:ryanshim92@gmail.com">ryanshim92@gmail.com</a>
            <br>
            <t>Phone</t>
            818-849-0570
          </p>
          <p>
            <t>Address</t>
            <br>
            25 Wayne Place  
            <br>
            San Francisco, CA 94133 
            <br>
          </p>
        </div>

        <div class="col-lg-3">
          <p><sm>SOCIAL LINKS</sm></p>
          <p>
            <a target="_blank" href="https://www.facebook.com/ryan.shim.7"><i class="icon-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/ryanshim24"><i class="icon-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>