<% include partials/header %>

<!-- HEADER -->
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>Ryan Shim</h1>
        <h3>Full Stack Developer | ryanshim92@gmail.com</h3>
      </div>
    </div>
  </div>
</div>


<!-- ABOUT ME -->
<section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          <h5>ABOUT</h5>
        </div>
        <div class="col-lg-6">
          <p>Currently, I am a student of the full stack Web Development Immersive program at General Assembly, looking to contribute to a team and grow my skills as a junior developer. I'm interested in all kinds of programming assets and I enjoy both front and back-end programming. Other things I enjoy besides programming include playing basketball, watching movies, and volunteering.</p>
        </div>
        <div class="col-lg-3">
          <p><a target='_blank' href="https://www.dropbox.com/s/20xwv80l45q4qt0/Resume.pdf?dl=1"><i class="icon-file"></i><sm>DOWNLOAD PAPER RESUME</sm></a></p>
        </div>
      </div>
    </div>
  </div>


  <!-- EDUCATION -->
  <section id="resume" name="resume"></section>
    <div class="container taco">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>EDUCATION</h5>
        </div>
      
      <!-- General Assembly -->
        <div class="col-lg-6">
          <p>
            <t>General Assembly</t>
            <br>
            <i>12-week intensive course that builds fluency in full stack web development</i>
            <br>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <sm><t>San Francisco, CA</t></sm>
            <br>
            <sm>GRADUATING IN DEC 2014</sm>
            <br>
            <imp><sm>IN PROGRESS</sm></imp>
          </p>
        </div>
  
      <!-- UCSD -->
        <div class="col-lg-6 col-lg-offset-3">
          <p><t>University of California, San Diego</t>
            <br>
            <i>Bachelor of Arts – Economics</i>
            <br>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <sm><t>San Diego, CA</t></sm>
            <br>
            <sm>JUNE 2014</sm>
          </p>
        </div>
     

      </div>
      <br>
      <hr>
    </div>



    <!--Technical Skills -->
  <div class="container taco">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>TECHNICAL SKILLS</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Programming Languages:</t>
          JavaScript, Ruby, HTML, CSS, CoffeeScript
          <br>
          <t>Frameworks:</t>
          Node.js, ExpressJS, Rails, AngularJS
          <br>
          <t>Database Tools:</t>
          SQL, PostgreSQL, Sequelize, ActiveRecord
          <br>
          <t>Authorization:</t>
          Passport Local, Bcrypt
          <br>
          <t>Testing Frameworks:</t>
          Mocha, Chai, RSpec
          <br>
          <t>Other:</t>
          Git/Gihub, Heroku, JQuery, AJAX, JSON, Bootstrap
          <br>
          <br>
          <t>Github:</t>
          <a target='_blank' href="https://github.com/ryanshim24">https://github.com/ryanshim24</a>
          <br>
          <t>Portfolio:</t>
          <a target='_blank' href="https://ryan-portfolio.herokuapp.com">https://ryan-portfolio.herokuapp.com</a>
          </p>
        </div>
    </div>
    <br>
    <hr>
  </div>

  <!-- RELEVANT EXPEREINCE -->
  <div class="container taco">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>RELEVANT EXPERIENCE</h5>
      </div>  

      <!-- GENERAL ASSEMBLY -->
      <div class="col-lg-6">
          <t>General Assembly</t>
          <br>
          <i>Web Development Immersive-Student</i>
          <br>

          Topics Covered:
          <ul style="list-style-type: circle;">
            <li>Computer science theory, including data structures and algorithms</li>
            <li>Best practices for front and back-end web development</li>
            <li>Workflow best practices, including Command Line and Git/GitHub</li>
            <li>Test-driven development with Mocha, Chai, and RSpec</li>
            <li>CRUD and RESTful resources</li>
            <li>Authentication and authorization</li>
          </ul>
          <br>

          <ul style="padding-left: 0;">
            <li>Project 1 detail: Create a full-stack web application using Node.js and ExpressJS</li>
          </ul>
          <a target='_blank' href="https://www.firstproject24.herokuapp.com">https://www.firstproject24.herokuapp.com</a>
          <br>
          Description: Integrate many-to-many associations; use external API’s to add functionality, the ability to handle invalid data, implement authentication and authorization, and model specs that verify validations. 
          <br>
          Languages: HTML, CSS, Javascript
          <br>
          Frameworks: Node.js, ExpressJS
          <br>
          Database: SQL, Sequelize
          <br>
          Authorization: Passport Local
          <br>
          Other: Jquery, Ajax, Bootrap, EJS, Yummly API, Yelp API, Mapbox API
          <br>
          <br>
          <br>

          <ul style="padding-left: 0;">
            <li>Project 2 detail: Create a full-stack web application using Ruby and Rails</li>
          </ul>
          Description: Integrate many-to-many associations; use external API’s to add functionality, the ability to handle invalid data, implement authentication and authorization, and model specs that verify validations. 
          <br>
          Languages: HTML, CSS, Javascript, Ruby
          <br>
          Frameworks: Rails
          <br>
          Database: PostgreSQL, ActiveRecord
          <br>
          Authorization: Bcrypt
          <br>
          Other: JQuery, Ajax, JSON, Bootsrap
      </div>


      <div class="col-lg-3">
        <p>
          <sm><t>San Francisco, CA</t></sm>
          <br>
          <sm>GRADUATING IN DEC 2014</sm>
        </p>
      </div>


      <!-- SIXTH COLLEGE -->
      <div class="col-lg-6 col-lg-offset-3">
        <br>
        <br>
        <t>Sixth College Residential Life</t>
        <br>
        <i>Student Intern</i>
        <br>
        <ul style="padding-left: 0;">
          <li>Processed various forms in a timely manner, including requests for moving, lockouts and room changing </li>
          <li>Handled confidential information, handled calls, and referred students to other departments</li>
          <li>Provided students customer care in services, such as arranging meetings, answering questions, and providing information in various events and activities</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <br>
        <br>
        <sm><t>San Deigo, CA</t></sm>
        <br>
        <sm>JULY 2013 - JULY 2014</sm>
      </div>

      <!-- WORLD TAEKWON DO -->
      <div class="col-lg-6 col-lg-offset-3">
        <br>
        <br>
        <t>World Taekwondo Club</t>
        <br>
        <i>Assistant Instructor (Black Belt)</i>
        <br>
        <ul style="padding-left: 0;">
          <li>Oversaw the general operations of the club; coordinated, moderated, and led club meetings and practices </li>
          <li>Officiated weekend classes for students interested in additional practices; organized and led a demonstration group to perform at various cultural events </li>
        </ul>
      </div> 
      <div class="col-lg-3">
        <br>
        <br>
        <sm><t>San Diego, CA</t></sm>
        <br>
        <sm>SEPT 2010 - JUNE 2012</sm>
      </div>

      <!-- SARANG CHURCH -->
      <div class="col-lg-6 col-lg-offset-3">
        <br>
        <br>
        <t>Sarang Church of San Diego</t>
        <br>
        <i>Student President</i>
        <br>
        <ul style="padding-left: 0;">
          <li>Managed all new comers by gathering basic information and filing it into a directory</li>
          <li>Created new events and activities that allow students to come closer to one another, our church, and other groups involved at our church</li>
          <li>Budgeted and financed funds that allowed our church to efficiently create new events, provide rides, and other accommodations</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <br>
        <br>
        <sm><t>San Diego, CA</t></sm>
        <br>
        <sm>OCT 2011 - AUGUST 2014</sm>
      </div>


      <!-- CAMPUS CRUSDAE FOR CHRIST -->
      <div class="col-lg-6 col-lg-offset-3">
        <br>
        <br>
        <t>Campus Crusade for Christ</t>
        <br>
        <i>Short Term Missionary</i>
        <br>
        <ul style="padding-left: 0;">
          <li>Designed daily, individualized lesson plans and mentored eight individuals on mathematics, literacy and science</li>
          <li>Coordinated extracurricular activities as creative outlets for students of all ages</li>
          <li>Initiated weekend English school for students who had the desire to learn the language and culture</li>
          <li>Collaborated with local churches in devising methods to increase church attendance</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <br>
        <br>
        <sm><t>Osaka, Japan</t></sm>
        <br>
        <sm>JUNE - AUGUST 2010<sm>
      </div>
      
      <!-- ICE CLOUD -->
      <div class="col-lg-6 col-lg-offset-3">
        <br>
        <br>
        <t>Ice Cloud Yogurt Store</t>
        <br>
        <i>Jr. Manager</i>
        <br>
        <ul style="padding-left: 0;">
          <li>Managed the maintenance of all yogurt equipment and made sure food materials were washed and put away neatly</li>
          <li>Organized and filed the daily income the yogurt store produced on a given day</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <br>
        <br>
        <sm><t>Northridge, CA</t></sm>
        <br>
        <sm>DEC 2009 - JULY 2010
      </div>
    </div>
    <br>
    <hr>
  </div>

  <!-- INTERESTS -->
  <div class="container taco">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>PROFESSIONAL SKILLS & INTERESTS </h5>
      </div>
      <div class="col-lg-6">
        <p>
          <t>Languages:</t>
          Fluent in Korean
          <br>
          <t>Interests:</t>
          Community Outreach; Technology; Global Education; Music; Sports
        </p>
      </div>
    </div>
    <br>
  </div>



<!--PORTFOLIO DESCRIPTION -->

  <section id="work" name="work"></section>
  <div id="work">
    <div class="container sauce">
      <div class="row">
          <div class="col-lg-1 col-lg-offset-1">
            <h5>PORTFOLIO</h5>
          </div>
          <div class="col-lg-6">
            <p><img class="img-responsive" src="https://i.imgur.com/Xp7jEU8.jpg?1" alt=""></p>
          </div>
          <div class="col-lg-4">
            <p style="color:white; font-weight: bold;">MOVIEMON</p>
          <p><more>MovieMon was an app I built when I was first learning how to use API calls. It allows users to get more details from the movies they search and they also have the option to favorite the movie. This app was built using Javascript, HTML, CSS, Node.js, and ExpressJS 
          <br>
          <br>
          <a target='_blank' href="https://ryanmovies.herokuapp.com/" target='_blank'>See Here</a> 
          </p>
          </div>

          <div class="col-lg-6 col-lg-offset-2">
            <p><img class="img-responsive" src="https://i.imgur.com/GNzGrGy.png?1" alt=""></p>
          </div>
          <div class="col-lg-4">
              <p style="color: white; font-weight: bold;">FOODMON</p>
            <p><more>FoodMon was the web app I built for my first offical project at General Assembly. It allows users who have a difficult time choosing what to eat be more decesive with a fun game I implemented as it's main feature. Users also have access to view recipes that emerged victrious from the game and also includes search features for more specific recipes users might want and restaruants that they might want to check out. This app was built using Javascript, HTML, CSS, Node.js, ExpessJS, SQL, Sequelize, Passport Local, Jquery, Ajax, Bootstrap, EJS, Yummly API, Yelp api, Mapbox api 
            <br>
            <br>
              <a target='_blank' href="https://firstproject24.herokuapp.com/home" target='_blank'>See Here</a>
            </p>
          </div>
          
          <div class="col-lg-6 col-lg-offset-2">
            <p><img class="img-responsive" src="https://i.imgur.com/VvDRkUW.png?1" alt=""></p>
          </div>
          <div class="col-lg-4">
              <p style="color: white; font-weight: bold;">PORTFOLIO</p>
            <p><more>I built my portfolio on the side just to have a place where I can store my projects and give more details about my story and just who I am as a person. I built this using HTML, CSS, and Javascript
            <br>
            <br>
              <a target='_blank' href="https://ryan-portfolio.herokuapp.com/" target='_blank'>See Here</a>
            </p>
          </div>

          <div class="col-lg-6 col-lg-offset-2">
            <p><img class="img-responsive" src="https://i.imgur.com/SmyTf9S.png?1" alt=""></p>
          </div>
          <div class="col-lg-4">
              <p style="color: white; font-weight: bold;">COOKMON</p>
            <p><more>CookMon was one of the first web applications I made when I learned Ruby on Rails. For me personally, it felt incredibly different from Javascript and it took some time to get used to but, I realized how powerful Rails is as a Framework. This application allows users to store their personal recipe books online, as a result they would have an easier time access all their recipes. Through this app users can search for specific recipes with certain ingredients or ingredients that correlate with specific recipes. I built this app using Ruby, Rails, Javascript, HTML, and CSS <br/><br/>
              <a href="#">Coming Soon</a>
            </p>
          </div>
      
      </div>
      <br>
      <br>
    </div>
   </div>

<% include partials/footer %>